<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package userId="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package userId="Microsoft.ApplicationInsights" version="2.2.0" targetFramework="net461" />
  <package userId="Microsoft.ApplicationInsights.Agent.Intercept" version="2.0.6" targetFramework="net461" />
  <package userId="Microsoft.ApplicationInsights.DependencyCollector" version="2.2.0" targetFramework="net461" />
  <package userId="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.2.0" targetFramework="net461" />
  <package userId="Microsoft.ApplicationInsights.Web" version="2.2.0" targetFramework="net461" />
  <package userId="Microsoft.ApplicationInsights.WindowsServer" version="2.2.0" targetFramework="net461" />
  <package userId="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.2.0" targetFramework="net461" />
  <package userId="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net461" />
  <package userId="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net461" />
  <package userId="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package userId="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package userId="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net461" />
  <package userId="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package userId="Microsoft.CodeDom.ProvuserIders.DotNetCompilerPlatform" version="1.0.7" targetFramework="net461" />
  <package userId="Microsoft.IdentityModel.JsonWebTokens" version="5.4.0" targetFramework="net461" />
  <package userId="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net461" />
  <package userId="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net461" />
  <package userId="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net461" developmentDependency="true" />
  <package userId="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package userId="Newtonsoft.Json" version="10.0.1" targetFramework="net461" />
  <package userId="Swashbuckle" version="5.3.1" targetFramework="net461" />
  <package userId="Swashbuckle.Core" version="5.3.1" targetFramework="net461" />
  <package userId="System.IdentityModel.Tokens.Jwt" version="5.4.0" targetFramework="net461" />
  <package userId="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package userId="Unity" version="5.2.0" targetFramework="net461" />
  <package userId="Unity.WebAPI" version="5.3.0" targetFramework="net461" />
  <package userId="WebActivatorEx" version="2.0.6" targetFramework="net461" />
  <package userId="Z.EntityFramework.Plus.EF6" version="1.8.22" targetFramework="net461" />
</packages>